*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    background-color: lightgoldenrodyellow;
    align-items: center;    
  }

  .nav-header{
      /* border: 1px solid black; */
      display: flex;
      flex-direction: row;
      align-items: center;      
  }

  @media(max-width: 768px){
    .nav-header{
      display: none;      
  }
  }


  .logo{
      padding: 10px;
      height: 100px;
      width: 120px;
  }

  .login{
      padding: 30px;
      height:40px;
      width:100px;
      /* border: 1px solid black; */      
  }

  .div-header{
      border: 3px solid orange;
      display:flex;
      flex-direction: row;
      margin-right: 30px;
      font-size: 2em;
      color:#DD6B20;
      padding: 5px;
      cursor: pointer;
  }

  
.pagInicial{
  grid-template-rows: 1fr;
  /* linhas */
  grid-template-columns: 1.5fr 1.5fr 1fr;
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top left, rgb(255, 146, 73), transparent, rgba(247, 139, 67, 0.87)); 
}

.caixaCadastro{
  background-color: #e07229;
  width: 80%;
  height: 80%;
  border-radius: 10%;
  border: black 1px solid;
  /* margin-left: 40% ; */
  box-shadow: 0px 0px 10px 5px #925a34; 
  margin-top: 10%;    
  }  
  
  @media screen and (max-device-width: 500px) {
    .caixaCadastro {
      width: 130%;
      height: 60%;
      margin-top: 50%;
    }    
  }

.caixaCadastro img {
  
  width: 80%;
  margin-left: 8%;
  border-radius: 10%;
  margin-top: 5%;
  align-items: center;  
}

.caixaCadastro p {
  color: aliceblue;
  text-align: center;
  font: 2em sans-serif;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;  
} 

.caixaCadastro h3{
  color: white;
  text-align: center;
  margin-top: 15%;
  font-size: 13px;
}

.caixaCadastro input{
   width: 60%;
   height: 5%;
  margin-left: 20%;
   border: black 2px solid;
  border-radius: 5px;
  margin-top: 2%;
  display: flex;
  background-image: linear-gradient(to right, rgb(194, 91, 23), transparent, rgba(236, 104, 16, 0.87));
}

.textosDaPag {
  display: flex;
  margin-top: 30%;
  margin-left: 4%;
  font-size: 140%;
  color: #be4c00;
}

@media screen and (max-device-width: 500px){
  .textosDaPag{
   font-size: 90%;
   align-items: center;
   margin: 5%;
  }
}


.otavio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #DD6B20;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, white, #DD6B20);
}

@media(max-width: 768px){
  .otavio{
    background: #fff;
    height: 100%;
  }
}

@media(max-width: 768px){
  .otavio>img{
    width: 320px;
  }
}


.otavio>h1{
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}

@media(max-width: 768px){
  .otavio>h1{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
}

.otavio-container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin: 40px;
  margin-top: 60px;
}

@media(max-width: 768px){
  .otavio-container{
    display: flex;
    flex-direction: column;
  }
}

.otavio-container>div{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FEEBC8;
  width: 240px;
  height: 200px;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: relative;
  cursor: pointer;
  transition: all 0.3s;  
}

@media(max-width: 768px){
  .otavio-container>div{
    margin-top: 16px;
  }
}

.otavio-container>div:hover{
  transform: scale(1.1);
}

.otavio-container>div>img{
  height:60%;
}

.otavio-container>div>h2{
  margin-top: 20px;
}

.otavio-container>div>p{
  text-align: center;
  margin: 20px;
  font-size: 20px;  
}

.otavio-container>div>a{
  text-align: center;
  margin: 20px;
  font-size: 18px;  
  text-decoration: none;
  color: #DD6B20;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

.andre{
  display: flex;
  flex-direction: column;
  align-items: center;      
}

#h1-andre{
  padding: 15px;
}

h3{
font-weight: 900;
font-family: 'Courier New', Courier, monospace;
font-size: large;
}

#p-andre{
  padding: 20px;
}

#div1{
  position: relative;    
  width:100%;
  height: 100%;
  margin: 10px;
}

@media(max-width: 768px){
  #div1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.people:hover .img-people{ 
  opacity: 0.7;
}

#h3-1{
  position: absolute;
  bottom: 40px;
  margin-left: 30%;
  /* margin-right: 50%; */
}

.img-people{
height: 360px;
margin-left: 4px;
width: 100%;
}

@media(max-width: 1200px){
  .img-people{
    height: 300px;
    width: 90%;
  }
}

@media(max-width: 768px){
  .img-people{
    height: 240px;
    width: 90%;
  }
}

.people{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

@media(max-width: 768px){
  .people{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}


/* ------------------------------ */



footer {
  display: flex;
  align-items: center;
  background-color:#3b3b3b;
  justify-content:space-between;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
} 

footer a {
  text-align: center;
  margin: 10px;
  color:#DD6B20; 
}

footer img {
  width:50px;
  margin-left: 40px;
  border: solid 1px rgb(20, 18, 17);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #3b1903;   
}

.bordaLinks {
   margin: 80px;
}







