*{
    margin: 0;
    padding: 0;
  }
  
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgoldenrodyellow;
    align-items: center;
    
  }

  .nav-header{
      /* border: 1px solid black; */
      display: flex;
      flex-direction: row;
      align-items: center;
      
  }

  .logo{
      padding: 10px;
      height: 100px;
      width: 120px;
  }

  .login{
      padding: 30px;
      height:40px;
      width:100px;
      /* border: 1px solid black; */
      
      
  }

  .div-header{
      border: 3px solid orange;
      display:flex;
      flex-direction: row;
      margin-right: 30px;
      font-size: 2em;
      color:#DD6B20;
      padding: 5px;
  }

  .andre{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #h1-andre{
    padding: 15px;

  }
  h3{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }

  #p-andre{
    padding: 20px;
  }

  #div1{
    position: relative;
        
  }

  .people:hover .img-people{ 
    opacity: 0.7;
    
  }

  #h3-1{
    position: absolute;
    bottom: 40px;
    margin-left: 30%;
    /* margin-right: 50%; */
    
    
  }

   

.img-people{
    padding-top: 40px;
    height: 25vw;
    width: 45vh;
      
    margin-left: 4px;
}

.people{
    display: flex;
    justify-content: center;
}